.homepagewrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

.formwrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  border: solid 2px #EF00DE;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #EF00DE;
}
footer a:hover{
  color: #A239EB;
}

.inputwrapper{
  display: flex;
  flex-direction: column;
}

.heading{
  margin-bottom: 20px;
  margin-top: 0;;
}

.logo{
  width: 125px;
}

.inputbox{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn{
  background: #EF00DE;
  font-weight: bold;
}

.joinBtn:hover{
  background: #A239EB;
}

.newroom{
  margin: 0 auto;
  margin-top: 20px;
  
}

.createnewBtn{
  color: #EF00DE;
  text-decoration: none;
  border-bottom: 1px solid #EF00DE;
  transition: all 0.3s ease-in-out;
  
}

.createnewBtn:hover{
  color: #A239EB;
  border-color: #A239EB;
}


















